@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #3d4e5e;
    color: #fff;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .contacts {
    height: 100%;
}

header .contacts img{
    height: 50%;
    margin-right: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

header .img-logo {
    height: 100%;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: #bbe4af;
}

header .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./img/main-background.png);
    background-size: 100% 100%; 
}

main .content {
    margin-top: 40px;
    color: #fff;
    width: 70%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

main .content .info-text {
    line-height: 30px;
}
main .content .title-text {
    margin-top: 50px;
    font-size: 60px;
}

main .content .menu {
    margin-top: 50px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content .menu .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content .menu .row .element {
    color: #000;
    width: 170px;
    height: 130px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer
}

main .content .menu .row .element:hover {
    transform: scale(1.1);
}

main .content .menu .row .element img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

footer {
    background-color: #fff;
    min-height: 70px;
    width: 100%;
}